<div class="text-center" style= "margin:auto;" >
    <form action="/weather" method="POST">
        <input type="text" placeholder="Enter a City" name="cityName">
        <button type="submit" class="rounded" style="margin-top: 1em;" name="action">Submit</button>
    </form>
    <p>{{weatherText}}</p>
</div>
